body {
    background-color: rgba(27, 27, 27, 1);
    text-align: center;
}

.bg {
    position: absolute;
    left:0;
    top: 0;
    z-index:-1
}

#novelDiv {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

#dialogDiv {
    font-family: "DeJaVu Serif", Helvetica, Arial, sans-serif;
    font-size: 20px;
    position: absolute;
    width: 790px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0);
    top: 450px;
    left: 0;
    color: white;
    padding: 5px;
    text-align: left;
    opacity: .75;
    z-index: 100;
}

.menuItem {
    width: 30%;
    margin: 0.5em auto;
    padding: 0.5em 3em;
    background-color: #0050a0;
    position: relative;
    text-align: center;
    color: white;
    font-family: "DeJaVu Serif", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

div.menuItem:hover {
    color: blue;
}